header .only-logo .navbar {
  padding: 0px;
}
header .intro-section .intro-subtitle {
  text-align: center;
}
header .color-overlay {
  min-height: 650px;
}
.features .image {
  max-width: 250px;
  margin: auto;
  margin-bottom: 80px;
}
.features .image img {
  width: 100%;
}
.image-link {
  display: block;
  height: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: normal;
  overflow-y: hidden;
}
.image-link h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  background-color: #101010;
  margin-top: 0px;
}
.image-link .text {
  position: relative;
  bottom: 0px;
  height: 60%;
  margin-top: 40%;
  margin-left: 35%;
  text-align: left;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.image-link:hover h1 {
  background-color: #404040;
}
.image-link:hover .text {
  background-color: rgba(64, 64, 64, 0.5);
}
section#news .news-preview.news-1 {
  background: url(../images/news/news-1.jpg) no-repeat center top;
}
section#news .news-preview.news-2 {
  background: url(../images/news/news-2.jpg) no-repeat center top;
}
section#news .news-preview.news-3 {
  background: url(../images/news/news-3.jpg) no-repeat center top;
}
section#news .news-preview.news-4 {
  background: url(../images/news/news-4.jpg) no-repeat center top;
}
section#news .news-preview.news-5 {
  background: url(../images/news/news-5.jpg) no-repeat center top;
}
section#news .news-preview.news-6 {
  background: url(../images/news/news-6.jpg) no-repeat center top;
}
section#about .about-dictator {
  background: url(../images/dictator.jpg) no-repeat center top;
}
section#about .about-advantages {
  background: url(../images/egu-hq.jpg) no-repeat center top;
}
section#about .about-hall-of-fame {
  background: url(../images/hall-of-fame.png) no-repeat center top;
}
section#links {
  background: url('../images/bg-3.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
section#links .color-overlay {
  padding-top: 110px;
  padding-bottom: 70px;
}
section#links .download-container {
  padding-bottom: 80px;
}
section#links .subscription-form-container {
  padding-bottom: 80px;
}
section#links .subscription-form .input-box {
  height: 57px;
  padding-left: 20px;
  width: 320px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FFF;
  border: 2px solid #FFF;
}
section#links .subscription-form .input-box:focus,
section#links .subscription-form .input-box:active {
  color: #000;
  font-weight: 400;
}
section#links .subscription-form .subscription-success,
section#links .subscription-form .subscription-error {
  display: none;
}
section#links .subscription-form h2 {
  margin-bottom: 30px;
}
section#links .buttons .standard-button {
  width: 320px;
}
