header {
    .only-logo .navbar {
        padding: 0px;
    }
    .intro-section .intro-subtitle{
        text-align: center;
    }
    .color-overlay {
       min-height: 650px;
    }
} 

section#news {
     .news-preview {
	    height: 400px;
	    color: #000000;
        font-style: normal;
       
        &.news-1 {
            background: url(../images/bg-1.jpg) no-repeat center top;
        }        
     }    
}

