header .only-logo .navbar {
  padding: 0px;
}
header .intro-section .intro-subtitle {
  text-align: center;
}
header .color-overlay {
  min-height: 650px;
}
section#news .news-preview {
  height: 400px;
  color: #000000;
  font-style: normal;
}
section#news .news-preview.news-1 {
  background: url(../images/bg-1.jpg) no-repeat center top;
}
